%section.sign-up
  .row
    .span4
      %h4.blue Sign up
      = render partial: 'form', locals: {resource: resource, button_text: 'Sign up'} 
    .span8
      %header.subhead
        %h1.jumbotron Create a FastRego account today!
      %p 
        You need a FastRego account in order to become a team manager for your institution. This is the account you will use to request teams, submit payment info, register participants and manage all your tournament registration needs.
      %p 
        In the (near) future, you will also be able to use your FastRego account to do other funky stuff like
        %ul
          %li store your personal information and "upload" it directly into tournaments you register. Never fill out your name/phone number/dietary requirements for the 100th time again!
          %li keep track of every tournament you've attended AND how you performed!
          %li message other participants / institutions / hosts
