.alert.alert-error
  You canceled the PayPal transaction
%dl.dl-horizontal
  %dt Payment ID
  %dd.id= @paypal_payment.id
  %dt Status
  %dd.status= @paypal_payment.status

=link_to 'Return to registration page', profile_path


