%section#embedding_logo
  %h2 Embedding our logo
  %p Thank you for using FastRego to run your tournament registration. 
  %p If you like FastRego and think it's helpful, help spread the word by putting this badge on your website by adding the following HTML snippet.
  %h3 Code to copy
  %pre
    &lt;a href="http://fastrego.fastbook.com"&gt; &lt;img src="http://fastrego.facebook.com/assts/fastrego_button.png" &gt;&lt;/a&gt;
  %h3 It will look as follows
  <a href="http://facebook.com/fastrego"> 
  <img src='http://fastrego.herokuapp.com/assets/fastrego_button.png'>
  </a>
  %p If you are having any issues trying to get this to work please do get in touch with us.

