%section.homepage
  .row
    .span6
      %h4 What is FastRego ?
      %p FastRego is online tournament registration software that aims to improve the process of registering for and managing data at debate tournaments, both for organisers and participants!

      %p FastRego's goal is to reduce redundancies, give users control over the data and make data easier to understand and manage. Read about how FastRego <a href="http://on.fb.me/FastRego-features">works</a> or try out a full  <a href="http://on.fb.me/FastRego-demo">demo</a>.
      :plain
        <iframe src="http://www.slideshare.net/slideshow/embed_code/14576231" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
      %p= link_to 'Planning a tournament? Click here to use FastRego for your tournament!', enquiry_path

    .span6
      %h4 Upcoming FastRego tournaments
      
      %ul
        - @current_tournaments.each do |name, url|
          %li= link_to name, url

      %h4 Past FastRego tournaments

      %ul
        - @past_tournaments.each do |name, url|
          %li= link_to name, url

