/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * http://www.colourlovers.com/palette/148712/Gamebookers
 *= require_self
 *= require bootstrap.css

 */

$orange: rgb(254,126,0);
$blue: rgb(54,135,174);

html, body {
  height: 100%;
}

footer {
  color: #777;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #efefef;
}

footer #footer-right {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  text-align: right;
}

.subhead {
  .lead {
    color: $blue;
  }
  text-align: left;
}

.jumbotron {
  color: $orange;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

.blue {
  color: $blue;
}

section.sign-in {
  .content {
    font-size: 16px;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}
.push {
  height: 120px;
}
.wrapper > .container {
  padding-top: 60px;
}

section#payment {
  .payment-items {
    td:nth-child(even) {
      text-align: right;
    }
    width: 50%;
  }

  .well {
    padding: 4px;
  }

  form {
    margin: 0px;
  }

  .payment_form {
      div#error_explanation {
        padding-bottom: 1em;
      }

      span, label[for="payment_comments"], input[name="payment[comments]"], input[type="submit"] {
          margin-top: 0.5em;
      }

      input[name="payment[comments]"]  {
         width: 80%;
      }

      span {
        vertical-align: middle;
      }
  }
}


.field_with_errors {
    display: inline;
}

.field_with_errors label, #error_explanation, #error_explanation h4 {
    color: #B94A48;

}

.navbar a.brand {
    padding-top: 4px;
    padding-bottom: 0px;
}

.edit_debaters select, .edit_adjudicators select, .edit_observers select {
  width: 5em;
}

.text-center {
  text-align: center;
}

#preRegistrationModal, #registrationModal {
  .modal-body {
    max-height: 430px;
  }
}
