/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory .
*/
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.payment_form div {
    display: inline;
    line-height: 1em;
    vertical-align: middle;
}

.payment_form div#error_explanation {
    padding-bottom: 1em;
}

.payment_form input[type="text"], .payment_form input[type="number"] {
    width: 6em;
}

.payment_form select {
    width: 5em;
}

.payment_form input[type="submit"] {
    margin-top: 0.5em;
    display: block;
}

.payment_form input[type="file"] {
    width: 310px;
}

.payment_form label[for="payment_comments"], .payment_form input[name="payment[comments]"]  {
    margin-top: 0.5em;
}

.payment_form input[name="payment[comments]"]  {
   width: 50em;
}


.field_with_errors label, #error_explanation, #error_explanation h4 {
    color: red;

}

