%p
  Thank you for creating your Team Manager account for MMU UADC! In order to activate your account, you MUST confirm
  this email address (by clicking the link below).

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p Remember, this is process just creates the account you will use to register when registration actually opens.
So please store your password in a safe place! (your login name is your email address).

For more information, visit www.uadc2012.com or email registration@uadc2012.com
